{{>layout/header}}
<link href="/css/app/signin.css" rel="stylesheet">
<div class="container text-center">
<main class="form-signing">
    <form>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <p class="mt-5 mb-3 text-muted">© 2021 ~ </p>
            </div>
        </div>
    </form>
</main>
</div>

{{>layout/footer}}